.itemDay {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  width: 9vw;
  height: 9vw;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  font-size: 1vh;

  outline: 1px solid grey;

  &.empty {
    outline: none;
  }

  .weekEndColor {
    color: var(--main-red);
  }

  .weekDayColor {
    color: var(--main-blue)
  }
}