.assetsItem {
  button {
    .label {
      display: flex;
      align-items: center;
      margin-right: 2px;
      .currensy {
        font-size: 1.5vw;
      }
      .icon {
        font-size: 1.7vw;
        margin-right: 2px;
        &.card {
          color: rgb(0, 110, 255);
        }
        &.cash {
          color: orangered;
        }
      }
    }

    .value {
      font-size: 1.7vw;
      font-weight: 600;
      transition: color .3s;
    }    
    
    &:hover {
      .value {
        &.card {
          color: rgb(0, 110, 255);
        }
        &.cash {
          color: orangered;
        }
      }  
    }
  }
}