.assetsItem {
  width: 100%;
  animation: fadeIn 750ms ease-in-out forwards;

  button {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    // padding: 1vh 1vw;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: .1;
      transition: width .3s, opacity .3s;
      background-color: rgba($color: #ffffff, $alpha: .1);
    }

    &:focus,
    &:hover {
      &::before {
        width: 100%;
        opacity: 1;
      }
    }

    .label {
      display: flex;
      align-items: center;
      margin-right: 2px;
      .currensy {
        font-size: 1.5vw;
      }
      .icon {
        font-size: 1.7vw;
        margin-right: 2px;
        &.card {
          color: rgb(103, 167, 252);
        }
        &.cash {
          color: rgb(255, 144, 103);
        }
      }
    }

    .value {
      font-size: 1.7vw;
      font-weight: 600;
      transition: color .3s;
    }    
    
    &:hover {
      .value {
        &.card {
          color: rgb(103, 167, 252);
        }
        &.cash {
          color: rgb(255, 144, 103);
        }
      }  
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: .0;
  }
  100% {
    opacity: 1;
  }
}