.assestsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  color: #ffffff;
  overflow-y: auto;
  // padding-right: 5px;
  
  animation: fadeIn .3s ease-in-out forwards;

  scrollbar-width: 4vmin;
  scrollbar-color: #4F5A65 #2A2F3A;
  &::-webkit-scrollbar {
    width: 4vmin;
  }
  &::-webkit-scrollbar-track {
    background: #2A2F3A;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4F5A65;
    // border-radius: 20px;
    // border: 1px solid #2A2F3A;
  }


}  

@keyframes fadeIn {
    0% {
      opacity: .5;
      // transform: scaleY(.5);
    }
    100% {
      // transform: scaleY(1);
      opacity: 1;
    }
  }