.assestsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 100%;
  height: auto;
  max-height: 100%;
  color: #ffffff;
  overflow-y: auto;
  padding-right: 5px;
  transition: height .5s;

  scrollbar-width: 3px;
  scrollbar-color: #4F5A65 #2A2F3A;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #2A2F3A;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4F5A65;
    // border-radius: 20px;
    // border: 1px solid #2A2F3A;
  }

  li {
    width: 100%;
    
    button {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 1vh 1vw;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      cursor: pointer;
      color: #ffffff;

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .1;
        transition: width .3s, opacity .3s;
        background-color: rgba($color: #ffffff, $alpha: .1);
      }

      &:focus,
      &:hover {
        &::before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

}