.dayList {
  display: flex;
  flex-direction: column;
  padding: 5px;
  
  .dayHeader {
    padding: 0 .5vw;
    display: flex;
    justify-content: space-between;

    .dateNumber {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7vw;
      // margin-right: 1vw;
    }
    .dateIinfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.4vw;

      .monthBtn,
      .weekBtn {
        display: flex;
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: none;
        font: inherit;
        color: white;
        cursor: pointer;
      }
    }
    .clock {
      width: 9vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 3vw;
    }
  }

  .weekEndColor { color: var(--main-red) }
  .weekDayColor { color: var(--main-blue) }
  .eventList {
    
    li {
      width: 100%;
      font-size: 1.3vw;
      border-radius: 3px;

      button {
        width: 100%;
        height: 100%;
        padding: .5vw .3vw;
        // background-color: transparent;
        color: white;
        display: flex;
        align-items: center;
        background-color: rgba($color: #ffffff, $alpha: .0);
        transition: background-color .3s;
        cursor: pointer;

        &>span {
          display: flex;
          align-items: center;
          margin-right: .5vw;
        }
        .eventTime {
          width: 3.7vw;
          justify-content: flex-end;
          color: wheat;
        }
        .eventName {
          width: 12vw;
          overflow: hidden;
          white-space: nowrap;
          padding: 0 .5vw;

          &.past {
            color: #717579FF;
          }
        }
        .eventValue {
          width: 5vw;
          display: flex;
          justify-content: flex-end;
        }
        .eventStatus {
          width: 1.3vw;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
        .eventCash {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1vw;
        }

        &:hover {
          background-color: rgba($color: #ffffff, $alpha: .1);
          cursor: pointer;
        } 
      }
    }
  }

  .event { color: var(--event-color) }
  .profit { color: var(--profit-color) }
  .costs { color: var(--costs-color) }
  .card { color: var(--main-blue) }
  .cash { color: var(--main-green) }

  .dayTotals {
    display: flex;
    justify-content: space-between;
    // outline: 1px solid red;
    margin-top: .5vw;  
    padding: .8vw;
    border-top: 1px solid #4F5A65; 
    
    .total {  
      display: flex;
      flex-direction: column;
      align-items: flex-end; 
    }
    .costtypes {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      justify-content: flex-end;
      span {
        margin-right: 1vw;
      }
      
    }
    // div {
      
    //   outline: 1px solid green;
    // }
    span {
      font-size: 1.3vw;
      margin-bottom: .3vw;
    }
  }
}