.monthList {
  display: grid;
  place-items: center;
  gap: .5vmax;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  // animation: open 750ms ease-in-out forwards;
}

.moveBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // padding: 1vh 1vw;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;


  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .1;
    transition: width .3s, opacity .3s;
    background-color: rgba($color: #2A2F3A, $alpha: .1);
  }

  &:focus,
  &:hover {
    &::before {
      width: 100%;
      background-color: rgba($color: #ffffff, $alpha: .1);;
    }
  }  
}

.header {
  margin-bottom: 1vw;
  .sums{
    margin-left: .5vw;
    span { margin-left: .5vw }
    font-size: .8vw;
    .sumProfits { color: var(--profit-color) }
    .sumCosts { color: var(--costs-color) }   
  }

}