.App {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-areas: "aside main";
  grid-template-rows: 1fr;
  grid-template-columns: 17vmin 1fr;

  aside, main {
    padding: .3vmin;
  }

  .assets {
    grid-area: aside;
  }
  
  .main {
    grid-area: main;
    border-left: .1vmin solid #4F5A65;
  }

}


