.App {
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "aside main nav";
  grid-template-rows: 1fr;
  grid-template-columns: 12% 1fr 11%;

  aside, main, nav {
    padding: 12px;
  }

  .assets {
    grid-area: aside;
  }
  
  .main {
    grid-area: main;
    border-left: 1px solid #4F5A65;
    border-right: 1px solid #4F5A65;
  }
  
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .navigation {
      flex-grow: 1;
    }
  }



}


