.modeNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 1vmin;
  left: 19vmin;
  border: .1vmin solid grey;
  border-radius: .3vmin;
  padding: 1vmin;
  opacity: .3;
  transition: opacity, .5s;
  cursor: pointer;
  height: 10vmin;
  color: gray;
  background-color: rgba($color: #ffffff, $alpha: .1);
  z-index: 999;
  font-size: 1.7vmin;
  
  &:hover {
    opacity: 1;
  }

  & label {
    cursor: pointer;
  }

  & input[type=radio] {
    position: absolute;
    width: .1vmin;
    height: .1vmin;
    margin: -.1vmin;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked {
      &~span {
        color: #ffffff;
      }        
    }
  }
}